{% extends 'index.html' %}

{% block titulo %}
    Listado de Autores
{% endblock titulo %}


{% block body %}

    {% if autores %}
    <h2 style="text-align: center;">Autores</h2>
        <table style="text-align: center;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Nacionalidad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for autor in autores %}
                    <tr>
                        <td>{{autor.id}}</td>
                        <td>{{autor.nombre}}</td>
                        <td>{{autor.apellidos}}</td>
                        <td>{{autor.nacionalidad}}</td>
                        <td>
                            <a href="{% url 'libro:autor-editar' autor.id %}"><Button>Editar</Button></a>
                            <a href="{% url 'libro:autor-eliminar' autor.id %}"><Button>Eliminar</Button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'libro:autor-create' %}"><button >Crear autor</button></a>
    {% else %}
        <h1 >No existe ningún autor</h1>
    {% endif %}

{% endblock body %}